@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dongle&family=IBM+Plex+Sans:wght@400;500&family=Kalam&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.main-text {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

    .main-text h3 {
        font-size: 3rem;
        padding-left: 7rem;
        font-family: 'Kalam', cursive;
        padding-right: 7rem;
        font-weight: bold;
    }

    .main-text p {
        font-size: 1.2rem;
        font-family: 'Kalam', cursive;
    }

.changer {
    display: flex;
}

.word1 {
    color: rgb(238, 178, 100);
}

.word2 {
    color: rgb(124, 178, 240);
}

.word3 {
    color: rgba(92, 232, 141, 0.892);
}

.word4 {
    color: rgba(239, 111, 111, 0.892);
}

.word5 {
    color: rgba(247, 132, 207, 0.903);
}

.word6 {
    color: rgb(224, 171, 102);
}

