@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<App.NET.Models.Project>

<h2 class="text-center">Proiecte</h2>

@if (TempData["message"] != null)
{
    <div class="alert alert-success p-3 rounded-3 text-center mb-5">
        @TempData["message"]
    </div>
}
<a href="/Projects/New?team=@ViewBag.team_id"><button type="button" class="btn btn-success">Create a new Project</button></a>
<div class="container">
    <div class="row">
        @if (Model != null)
        {
            @foreach (var project in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@project.Title_project</h5>
                            <p class="card-text">@project.Description</p>
                            <a href="/Projects/Show/@project.Id" class="btn btn-primary">Detalii</a>
                            <a href="/Projects/Edit/@project.Id" class="btn btn-warning">Editează</a>
                            <form method="post" action="/Projects/Delete/@project.Id" class="d-inline">
                                <button type="submit" class="btn btn-danger">Șterge</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Nu există proiecte de afișat.</p>
        }
    </div>
</div>
