@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model App.NET.Models.Project

<h2 class="text-center">Adaugare Proiect pentru echipa @ViewBag.team.Name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                @using (Html.BeginForm("New", "Projects", FormMethod.Post))
                {
                    <input type="hidden" name="Team_Id" value="@ViewContext.HttpContext.Request.Query["team"]"/>

                    @Html.Label("Title_project")
                    <input asp-for="Title_project" class="form-control"/>

                    @Html.Label("Description")
                    <textarea asp-for="Description" class="form-control"></textarea>


                    <button type="submit" class="btn btn-success mt-3">Adaugă Proiect</button>
                }

        </div>
    </div>
</div>
