@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model App.NET.Models.Project
<div class="nav_teams_show">
    <div class="nav_show">
        <ul>
            <li><a href="/Projects/Add_Users/@Model.Id">Add Users</a></li>
            <li><a href="/Tasks/New">Create a task</a></li>
        </ul>
    </div>
</div>
<h2 class="text-center" style="margin-top:1rem;">@Model.Title_project</h2>

<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <p>@Model.Description</p>           
        </div>
        <div class="col-md-6">
            <h3>Task-uri:</h3>
            <ul>
                @foreach (var task in Model.Tasks)
                { 
                    <li>@task.Title_task</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/Projects/Edit/@Model.Id" class="btn btn-warning">Editează</a>
            <form method="post" action="/Projects/Delete/@Model.Id" class="d-inline">
                <button type="submit" class="btn btn-danger">Șterge</button>
            </form>
        </div>
    </div>
</div>
