@{
    ViewData["Title"] = "Home Page";
}

<div class="main-text">
    <h3>
        <center>
            Organize, plan, organize in a fun way.
        </center>
    </h3>
    <p>Our site is a workspace full of possibilities</p>
    <a href="/Identity/Account/Register"><button type="button" class="btn btn-dark">Register Now</button></a>
</div>

<div class="changer">
    <h3>Create a team with </h3>
    <h3 id="text-carousel"></h3>
</div>