@{
    ViewData["Title"] = "Home Page";
}

<div class="main-text">
    <h3>
        <center>
            Organize, plan, create in a fun way.
        </center>
    </h3>
    <p>Our site is a workspace full of possibilities</p>
    <a href="/Identity/Account/Register"><button type="button" class="btn btn-dark">Register Now</button></a>
</div>

<div class="changer">
    <h3>Create a team with &nbsp;</h3>
    <h3 id="text-carousel"></h3>
</div>

<ul>
    <li>Create a project in which you can:</li>
    <ul>
        <li> create a task </li>
        <li> add comments </li>
    </ul>
    <li>Do projects in a fun way</li>
    <ul>
        <li> gain XP and level up </li>
        <li> complete tasks and get points </li>
        <li> have a leaderboard for each project </li>
        <li> get cool badges </li>
    </ul>
</ul>