@{
    ViewData["Title"] = "Home Page";
}

<div class="main-text">
    <h3>
        <center>
            Organize, plan, create in a fun way.
        </center>
    </h3>
    <br />
    <p>Our site is a workspace full of possibilities</p>
    <a href="/Identity/Account/Register"><button type="button" class="btn btn-dark">Register Now</button></a>
</div>

<div class="changer">
    <b><h3>Create a team with &nbsp;</h3></b>
    <h3 id="text-carousel"></h3>
</div>

<div class="container1">
    <div class="left">
        <li>
            Create a project in which you can:
        </li>
        <ul>
            <li>Create tasks.</li>
            <li>Add comments</li>
            <li>Assign tasks to team members</li>
        </ul>
    </div>

    <div class="right">
        <li>Do projects in a fun way &#129395;:</li>
        <ul>
            <li> gain XP and level up &#128285;</li>
            <li> complete tasks and get points &#129297;</li>
            <li> have a leaderboard for each project &#127942;</li>
            <li> get cool badges &#128526;</li>
        </ul>
    </div>
</div>



<p>A small tutorial on how the application works:</p>
<iframe width="420" height="315"
        src="https://youtu.be/Pvkq5ZDrJsw">
</iframe>

