@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<App.NET.Models.ApplicationUser>
<h2 style="text-align:center;">Admin pannel</h2>
@foreach (ApplicationUser user in Model)
{
    <div class="panel">
        <form method="post" action="/Home/Panel">
            <input type="hidden" name="User_Id" value="@user.Id"/>
            <p>@user.UserName</p>
            <button type="submit" class="btn btn-danger">Kick User</button>
        </form>
    </div>
    
}