@{
    ViewBag.Title = "New";

}

<h2>Formular adaugare echipe</h2>

<br />

<form method="post" action="/Teams/New">
    <label>Nume</label>
    <br />
   <input type="text" name="Name" />
    <br /> <br />

    <br /> <br />  
    <label>Parola</label>
    <input type="password" name="Password" />

<br /> <br />
    <button type="submit">Adauga echipa</button>
</form>