@model Team

<h2>@Model.Name</h2>

<h3>Team Members</h3>
@if (ViewBag.TeamMembers != null && ViewBag.TeamMembers.Any())
{
    <ul>
        @foreach (var teamMember in ViewBag.TeamMembers)
        {
            <li>@teamMember.User.UserName</li>
        }
    </ul>
}
else
{
    <p>No team members for this team.</p>
}


