
        <div onclick="location.href='/Tasks/Show/@Model.Id';" class="card team-card">
            <div class="card-body">
                <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title_task</h3>
                <div class="card-text">Data begin : @Model.Data_start</div>
                <div class="card-text">
                    Deadline: @Model.Data_end
                </div>
            </div>
        </div>
